.form-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0 0 15px rgba(216, 0, 220, 0.5);
    backdrop-filter: blur(10px);
    width: 90%;
    max-width: 400px;
    text-align: center;
    margin: 20px auto; /* Centra el formulario horizontalmente */
}


.form-container input:focus {
    outline: none;
    box-shadow: 0 0 10px blueviolet;

}

.form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: blueviolet;
    color: #121212;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.form-container button:hover {
    background: blueviolet;
}

.form-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0 0 15px rgba(184, 0, 212, 0.849);
    backdrop-filter: blur(10px);
    width: 300px;
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: blueviolet;
}

.form-container input {
    width: 100%;
    padding: 11px;
    margin: 17px 0;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #000000;
    font-size: 16px;
    box-shadow: 0 0 10px #b300ff;
}

.form-container input:focus {
    outline: none;
    box-shadow: 0 0 10px #b300ff;
}

.form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #b700ff;
    color: #121212;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.form-container button:hover {
    background: #bf00ff;
}